<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>
  <?if $(env._BUILDARCH) = x86 ?>
    <?define ARCHDIR = i386 ?>
    <?define PFILESDIR = ProgramFilesFolder ?>
  <?elseif $(env._BUILDARCH) = AMD64 ?>
    <?define ARCHDIR = amd64 ?>
    <?define PFILESDIR = ProgramFiles64Folder ?>
  <?endif ?>

  <Module  Id='guiAgentWindows'
    Language='1033' Codepage='1252' Version='$(env.VERSION)'>

    <Package Id='{99FAD33F-658E-4F04-966C-52061AC0BC45}' Keywords='Installer' Description="Qubes Gui Agent for Windows"
      Comments='no comment' Manufacturer='Invisible Things Lab' InstallScope='perMachine'
      InstallerVersion='200' Languages='1033' SummaryCodepage='1252'
      InstallPrivileges="elevated" />

    <Configuration Name="ProductFolder" Format="Key" Type="Identifier" DefaultValue="QubesProgramFilesDir"
      Description="Installation directory" DisplayName="Installation directory"/>
    <Substitution Table="Directory" Column="Directory_Parent"
      Row="BinDir" Value="[=ProductFolder]"/>
    <Substitution Table="Directory" Column="Directory_Parent"
      Row="DriversDir" Value="[=ProductFolder]"/>

    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" SuppressModularization="yes"/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.PFILESDIR)'>
        <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
          <Directory Id='QubesProgramFilesDir' Name='Qubes'>
            <Directory Id='BinDir' Name='bin'>
              <Component Id='GuiAgent' Guid='{69131C28-618B-4662-9AFC-70767E50F05D}'>
                <File Id='wga.exe' DiskId='1' Source='gui-agent\bin\$(var.ARCHDIR)\wga.exe' KeyPath="yes"/>
				<!-- We only support x64 but just for the future... -->
                <RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools" Name="Autostart" Type="string" Value='"[BinDir]wga.exe"'/>
                <RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools" Name="UseDirtyBits" Type="integer" Value='0'/>
                <RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools\wga" Name="MaxFps" Type="integer" Value='0'/>
              </Component>
              <Component Id='QTWHelper' Guid='{5A490AD9-203D-4634-9ABA-4FB02416D0BC}'>
                <File Id='QTWHelper.exe' DiskId='1' Source='service\bin\$(var.ARCHDIR)\QTWHelper.exe' KeyPath="yes"/>
                  <ServiceInstall
                  Id="ServiceInstaller"
                  Type="ownProcess"
                  Vital="no"
                  Name="QTWHelper"
                  DisplayName="Qubes Tools for Windows Helper"
                  Description="Qubes Tools for Windows Helper"
                  Start="auto"
                  Account="LocalSystem"
                  ErrorControl="ignore"
                  Interactive="no"
                  />
                <ServiceControl Id="StartService" Remove="uninstall" Name="QTWHelper" Wait="no" />
              </Component>
            </Directory>
            <Directory Id='DriversDir' Name='drivers'>
              <Component Id='qvideo' Guid='{EC90C049-0025-4815-9106-6ABC438470A4}'>
                <File Id='qvideo.cat' DiskId='1' Source='qvideo\bin\$(var.ARCHDIR)\qvideo.cat'/>
                <File Id='qvgdi.dll' DiskId='1' Source='qvideo\bin\$(var.ARCHDIR)\qvgdi.dll'/>
                <File Id='qvmini.sys' DiskId='1' Source='qvideo\bin\$(var.ARCHDIR)\qvmini.sys'/>
                <File Id='qvideo.inf' DiskId='1' Source='qvideo\bin\$(var.ARCHDIR)\qvideo.inf'/>
				<!-- moved to custom table below -->
				<!-- <difx:Driver Sequence='10' Legacy='yes' PlugAndPlayPrompt='no' ForceInstall='yes'/>-->
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
	<!-- cannot use difx:Drive element because it requires difx lib linked with
	this module, which causes conflict with vmm-xen-windows-drivers (which also
	uses DIFx extension). This basically means that only one merge module
	can use DIFx extention (see http://sourceforge.net/p/wix/feature-requests/432/).
	But this also means that final MSI will already have all necesary steps to
	install the drivers. So just append our driver to the MsiDriverPackage
	table, to be also installed. -->
	<!-- Table schema here: http://msdn.microsoft.com/en-us/library/windows/hardware/ff549362%28v=vs.85%29.aspx -->
	<CustomTable Id="MsiDriverPackages">
	  <Column Id="Component" Modularize="Column" Nullable="no" Type="string" Width="255"
	      Description="An identifier that represents a driver package" PrimaryKey="yes"/>
	  <Column Id="Flags" Nullable="no" Type="int" Width="4"
	      Description="DIFxApp configuration flags"/>
	  <Column Id="Sequence" Nullable="yes" Type="int" Width="4"
	      Description="Installation sequence number"/>
	  <Row>
		<Data Column="Component">qvideo</Data>
		<Data Column="Flags">15</Data>
		<Data Column="Sequence">1</Data>
	  </Row>
	</CustomTable>

	<Binary Id="CreateDeviceHelper" SourceFile="install-helper\bin\$(var.ARCHDIR)\create-device.exe"/>
	<Binary Id="DisableDevHelper" SourceFile="install-helper\bin\$(var.ARCHDIR)\disable-device.exe"/>
	<Binary Id="SystemSettings" SourceFile="install-helper\bin\$(var.ARCHDIR)\system-settings.exe"/>

	<CustomAction Id="RegisterVideoDevice" Return="check" Impersonate="no" Execute="deferred"
		BinaryKey="CreateDeviceHelper"
		ExeCommand='"[DriversDir]qvideo.inf" ITL_QubesVideo'/>

	<!-- Disable all PCI Display devices. Our device is ROOT device -->
	<CustomAction Id="DisableSVGA" Return="ignore" Impersonate="no" Execute="deferred"
		BinaryKey="DisableDevHelper"
		ExeCommand='-d Display'/>

	<CustomAction Id="RollbackDisableSVGA" Return="ignore" Impersonate="no" Execute="rollback"
		BinaryKey="DisableDevHelper"
		ExeCommand='-e Display'/>

	<CustomAction Id="EnableSVGA" Return="ignore" Impersonate="no" Execute="deferred"
		BinaryKey="DisableDevHelper"
		ExeCommand='-e Display'/>

	<CustomAction Id="ApplySysSettings" Return="check" Impersonate="no" Execute="deferred"
		BinaryKey="SystemSettings"
		ExeCommand='--apply'/>

	<CustomAction Id="RollbackSysSettings" Return="ignore" Impersonate="no" Execute="rollback"
		BinaryKey="SystemSettings"
		ExeCommand='--rollback'/>

	<CustomAction Id="UndoSysSettings" Return="ignore" Impersonate="no" Execute="deferred"
		BinaryKey="SystemSettings"
		ExeCommand='--rollback'/>

    <!--
        Custom actions are run whether a component is selected for install or not, by default.
        We need to add checks to each action in case this module is not being installed.
        $component is future state, ?component is current state
        2 is 'not installed', 3 is 'installed'
        http://msdn.microsoft.com/en-us/library/aa368012(v=vs.85).aspx
    -->
    <InstallExecuteSequence>
      <Custom Action="RegisterVideoDevice" After="InstallFiles">
        ?qvideo=2 AND $qvideo=3
      </Custom>
      <Custom Action="RollbackDisableSVGA" Before="DisableSVGA">
        $qvideo=3
      </Custom>
      <Custom Action="DisableSVGA" Before="InstallFinalize">
        ?qvideo=2 AND $qvideo=3
      </Custom>
      <Custom Action="RollbackSysSettings" Before="ApplySysSettings">
        $qvideo=3
      </Custom>
      <Custom Action="ApplySysSettings" After="InstallFiles">
        ?qvideo=2 AND $qvideo=3
      </Custom>
      <!-- enable it back on uninstall -->
      <Custom Action="EnableSVGA" Before="InstallFinalize">
        REMOVE="ALL" AND ?qvideo=3 AND $qvideo=2
      </Custom>
      <Custom Action="UndoSysSettings" Before="InstallFinalize">
        REMOVE="ALL" AND ?qvideo=3 AND $qvideo=2
      </Custom>
    </InstallExecuteSequence>

  </Module>
</Wix>
