#include "qubes_common.rc"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Qubes Video Control"

#define VER_INTERNALNAME_STR        "qvcontrol.exe"
#define VER_ORIGINALFILENAME_STR    "qvcontrol.exe"

#include "common.rc"