#include "qubes_common.rc"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Qubes Video Miniport Driver"

#define VER_INTERNALNAME_STR        "qvmini.sys"
#define VER_ORIGINALFILENAME_STR    "qvmini.sys"

#include "common.rc"